.skills {
  padding-top: 120px;
  &__title {
    position: relative;
    text-align: center;
    @include before_circle;
    &:before {
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__items {
    display: grid;
    padding: 60px 0 120px 0;
    grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
    grid-auto-rows: minmax(270px, auto);
    gap: 13px;
  }
  &__item {
    border: 1px solid #000000;
    padding: 30px 30px 25px 30px;
    &-img {
      display: flex;
      align-items: center;
      min-height: 65px;
    }
    h3 {
      margin-top: 20px;
      margin-bottom: 0;
    }
    p {
      margin-top: 15px;
      font-size: 12px;
      margin-bottom: 0;
      line-height: 18px;
    }
  }
}
